@model GarageBuddy.Web.ViewModels.Job.JobDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleRegistrationNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VehicleRegistrationNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div>
    <form asp-controller="Quotes" asp-action="Create" method="post">
        <input type="hidden" name="jobId" value="@Model.Id" />
        <button type="submit" class="btn btn-primary">Generate Quote</button>
    </form>
    <form asp-controller="Invoices" asp-action="Create" method="post">
        <input type="hidden" name="jobId" value="@Model.Id" />
        <button type="submit" class="btn btn-primary">Generate Invoice</button>
    </form>
</div>

<h2>Job Items</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Type
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
            <th>
                Total Price
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.JobItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobItemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
}
    </tbody>
</table>
